<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eventlotterysystemapp">

    <application
        android:allowBackup="true"
        android:label="Event Lottery System"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".ui.AdminEventDetailActivity"
            android:exported="false" />

        <activity
            android:name=".ui.AdminManageProfilesActivity"
            android:exported="false" />

        <activity
            android:name=".ui.AdminProfileDetailActivity"
            android:exported="false" />

        <!-- USER STORY 6 SCREEN -->
        <activity
            android:name=".ui.AdminNotificationLogsActivity"
            android:exported="false" />

    </application>

</manifest>